<!DOCTYPE html>
<html lang="en">
<head>
    <title>Faves&Hates</title>
    <style>
        header ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        header li {
            float: left;
        }

        header li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        header li a:hover {
            background-color: #111;
        }
    </style>
</head>
<body>
<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href='/faves/foods'>Favorite Foods</a></li>
        <li><a href='/faves/animals'>Favorite Animals</a></li>
        <li><a href='/hates/foods'>Hate Foods</a></li>
        <li><a href='/hates/animals'>Hate Animals</a></li>
    </ul>
</header>
<%- body %>
</body>
</html>